
# Dependencies
node_modules/
package-lock.json.bak

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Builds and Native artifacts
android/
ios/
build/
*.orig.*

# macOS and Editor files
.DS_Store
__MACOSX/
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
